@{
    ViewData["Title"] = "Home Page";
}

<div class='Container-Home'>
    <div class='Home-Description'>
        <span class='Description-Tag'>&lt;div&gt;</span>
        <br/><br/>
        <h2 class="Description-Student">DEVELOPER, STUDENT & VOLUNTEER</h2>
        <h1 class="Description-Nombre">HENRY ROLANDO</h1>
        <h1 class="Description-Nombre">CARDONA VALLE</h1>
        <br />
        <span class='Description-Tag'>&lt;/div&gt;</span>
        <br /><br />
        <p class="Description-Text">
            Estudiante de Ingeniería en Sistemas Informáticos y programador con más de dos años de experiencia, generando código que
            contribuye a solucionar problemas para empresas con sistemas de facturación, inventarios, IVA y recursos humanos.
            <br />
            Voluntario para Glasswing International en mis tiempos libres y amante de toda la musica porque sin ella la vida sería un error, 
            por eso decido disfrutar de la música y buscar sentimientos, emociones, recuerdos, pensamientos o ideas a través de ella :D
        </p>
        <div class="Description-Botones">
            <a href="https://www.facebook.com/henry.cardona.7777" class="btn btn-sm btn-dark boton" target="_blank">Facebook</a>
            <a href="https://www.facebook.com/henry.cardona.7777" class="btn btn-sm btn-dark boton" target="_blank">Instagram</a>
            <a href="https://twitter.com/henrycardona99" class="btn btn-sm btn-dark boton" target="_blank">Twitter</a>
            <a href="https://www.linkedin.com/in/henry-cardona-1a6762206/" class="btn btn-sm btn-dark boton" target="_blank">LinkeIn</a>
            <a href="https://github.com/Henry-Cardona" class="btn btn-sm btn-dark boton" target="_blank">GitHub</a>
        </div>
        <br />
        <span class='Description-Tag'>&lt;/div&gt;</span>
        <br />
    </div>
    <img class="Home-Image" src="https://drive.google.com/uc?export=download&id=1J_MrEKjiHEnKMUapuIo0OugWgr1CRMNF"></img>
</div>
